llama-index
llama-index-llms-groq
llama-index-vector-stores-qdrant
llama-index-embeddings-fastembed
qdrant-client
fastembed
pymupdf
fastapi
uvicorn
python-dotenv
pytesseract
Pillow
streamlit
requests
